In [1]:
import numpy as np

In [10]:
a=[[1,4],[4,4],[5,6]]

In [16]:
import pandas as pd

In [24]:
a = pd.DataFrame({'x':[1,2,3],'y':[4,5,20]})

In [36]:
a

   x   y
0  1   4
1  2   5
2  3  20

In [40]:
a.sample(2)

   x   y
0  1   4
2  3  20

In [12]:
x = np.minimum(a,b)

In [13]:
x

array([[1, 3],
       [4, 4],
       [5, 6]])

In [32]:
def normalize(points):
    """
    Return the normalized version of a given vector of points.

    For a given array of n-dimensions, normalize each dimension by removing the
    initial offset and normalizing the points in a proportional interval: [0,1]
    on y, maintining the original ratio on x.
    """
    ratio = (points.x.max() - points.x.min()) / (points.y.max() - points.y.min()), 1
    #print(ratio)
    ratio = np.array(ratio) / max(ratio)
    print(ratio)
    #points.apply(lambda c:print(c))
    norm = points.apply(lambda c: (c - c.min()) / (c.max() - c.min()))
    print(norm)
    return norm.apply(lambda p: ratio * p, axis=1)

In [21]:
a.apply(lambda c:(c-c.min()) / (c.max() - c.min()))

     x    y
0  0.0  0.0
1  0.5  0.5
2  1.0  1.0

In [33]:
normalize(a)

[0.125 1.   ]
     x       y
0  0.0  0.0000
1  0.5  0.0625
2  1.0  1.0000

        x       y
0  0.0000  0.0000
1  0.0625  0.0625
2  0.1250  1.0000

In [20]:
help(np.random.choice)

Help on built-in function choice:

choice(...) method of numpy.random.mtrand.RandomState instance
    choice(a, size=None, replace=True, p=None)

    Generates a random sample from a given 1-D array

            .. versionadded:: 1.7.0

    Parameters
    ----------
    a : 1-D array-like or int
        If an ndarray, a random sample is generated from its elements.
        If an int, the random sample is generated as if a were np.arange(a)
    size : int or tuple of ints, optional
        Output shape.  If the given shape is, e.g., ``(m, n, k)``, then
        ``m * n * k`` samples are drawn.  Default is None, in which case a
        single value is returned.
    replace : boolean, optional
        Whether the sample is with or without replacement
    p : 1-D array-like, optional
        The probabilities associated with each entry in a.
        If not given the sample assumes a uniform distribution over all
        entries in a.

    Returns
    -------
    samples : single item or ndarray
        The generated random samples

    Raises
    ------
    ValueError
        If a is an int and less than zero, if a or p are not 1-dimensional,
        if a is an array-like of size 0, if p is not a vector of
        probabilities, if a and p have different lengths, or if
        replace=False and the sample size is greater than the population
        size

    See Also
    --------
    randint, shuffle, permutation

    Examples
    --------
    Generate a uniform random sample from np.arange(5) of size 3:

    >>> np.random.choice(5, 3)
    array([0, 3, 4]) # random
    >>> #This is equivalent to np.random.randint(0,5,3)

    Generate a non-uniform random sample from np.arange(5) of size 3:

    >>> np.random.choice(5, 3, p=[0.1, 0, 0.3, 0.6, 0])
    array([3, 3, 0]) # random

    Generate a uniform random sample from np.arange(5) of size 3 without
    replacement:

    >>> np.random.choice(5, 3, replace=False)
    array([3,1,0]) # random
    >>> #This is equivalent to np.random.permutation(np.arange(5))[:3]

    Generate a non-uniform random sample from np.arange(5) of size
    3 without replacement:

    >>> np.random.choice(5, 3, replace=False, p=[0.1, 0, 0.3, 0.6, 0])
    array([2, 3, 0]) # random

    Any of the above can be repeated with an arbitrary array-like
    instead of just integers. For instance:

    >>> aa_milne_arr = ['pooh', 'rabbit', 'piglet', 'Christopher']
    >>> np.random.choice(aa_milne_arr, 5, p=[0.5, 0.1, 0.1, 0.3])
    array(['pooh', 'pooh', 'pooh', 'Christopher', 'piglet'], # random
          dtype='<U11')

In [41]:
b

[[2, 3], [4, 5], [7, 6]]

In [43]:
np.arange(8)

array([0, 1, 2, 3, 4, 5, 6, 7])

In [51]:
def select_closest(candidates, origin):
    """Return the index of the closest candidate to a given point."""
    print(euclidean_distance(candidates, origin))
    return euclidean_distance(candidates, origin).argmin()

In [45]:
def euclidean_distance(a, b):
    """Return the array of distances of two numpy arrays of points."""
    return np.linalg.norm(a - b, axis=1)

In [46]:
b = np.array(b)

In [47]:
a

   x   y
0  1   4
1  2   5
2  3  20

In [48]:
b= pd.DataFrame({'x':[2,5,7],'y':[5,6,3]})

In [52]:
select_closest(a, b)

[ 1.41421356  3.16227766 17.4642492 ]

0

In [50]:
print(a)
print(b)

   x   y
0  1   4
1  2   5
2  3  20
   x  y
0  2  5
1  5  6
2  7  3

In [54]:
delta = np.absolute(0-np.arange(8))

In [56]:
delta

array([0, 1, 2, 3, 4, 5, 6, 7])

In [57]:
8-delta

array([8, 7, 6, 5, 4, 3, 2, 1])

In [59]:
distances = np.minimum(delta, 8-delta)

In [63]:
distances*distances

array([ 0,  1,  4,  9, 16,  9,  4,  1])

In [68]:
xxx = np.exp(-(distances*distances) / (2*(1)))

In [72]:
xxx

array([1.00000000e+00, 6.06530660e-01, 1.35335283e-01, 1.11089965e-02,
       3.35462628e-04, 1.11089965e-02, 1.35335283e-01, 6.06530660e-01])

In [71]:
xxx.shape

(8,)

In [70]:
xxx[:, np.newaxis].shape

(8, 1)

In [64]:
help(np.newaxis)

Help on NoneType object:

class NoneType(object)
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).

In [66]:
a=np.newaxis

In [67]:
a

In [73]:
b

   x  y
0  2  5
1  5  6
2  7  3

In [ ]:
xxx[:, np.newaxis] * 0.8 * b.sample(1).values-b

In [74]:
np.random.rand(8, 2)

array([[0.25046947, 0.2890399 ],
       [0.79420123, 0.61559489],
       [0.98940981, 0.47611202],
       [0.0846649 , 0.70084112],
       [0.19473201, 0.19340242],
       [0.74266547, 0.02645646],
       [0.47629343, 0.68944779],
       [0.76233489, 0.04030485]])

In [75]:
def get_neighborhood(center, radix, domain):
    """Get the range gaussian of given radix around a center index."""

    # Impose an upper bound on the radix to prevent NaN and blocks
    if radix < 1:
        radix = 1

    # Compute the circular network distance to the center
    deltas = np.absolute(center - np.arange(domain))
    distances = np.minimum(deltas, domain - deltas)

    # Compute Gaussian distribution around the given center
    return np.exp(-(distances*distances) / (2*(radix*radix)))

In [76]:
get_neighborhood(3, 1, 8)

array([1.11089965e-02, 1.35335283e-01, 6.06530660e-01, 1.00000000e+00,
       6.06530660e-01, 1.35335283e-01, 1.11089965e-02, 3.35462628e-04])

In [86]:
a=np.array([1,2,3])

In [82]:
len(a)

3

In [90]:
a=a.reshape(3, 1)

In [91]:
print(a)

[[1]
 [2]
 [3]]

In [92]:
c = np.random.rand(3, 2)

In [94]:
print(c)

[[0.30836871 0.03331908]
 [0.44575514 0.46111449]
 [0.22856421 0.76536123]]

In [93]:
a*c

array([[0.30836871, 0.03331908],
       [0.89151028, 0.92222899],
       [0.68569263, 2.29608368]])

In [95]:
help(np.roll)

Help on function roll in module numpy:

roll(a, shift, axis=None)
    Roll array elements along a given axis.

    Elements that roll beyond the last position are re-introduced at
    the first.

    Parameters
    ----------
    a : array_like
        Input array.
    shift : int or tuple of ints
        The number of places by which elements are shifted.  If a tuple,
        then `axis` must be a tuple of the same size, and each of the
        given axes is shifted by the corresponding number.  If an int
        while `axis` is a tuple of ints, then the same value is used for
        all given axes.
    axis : int or tuple of ints, optional
        Axis or axes along which elements are shifted.  By default, the
        array is flattened before shifting, after which the original
        shape is restored.

    Returns
    -------
    res : ndarray
        Output array, with the same shape as `a`.

    See Also
    --------
    rollaxis : Roll the specified axis backwards, until it lies in a
               given position.

    Notes
    -----
    .. versionadded:: 1.12.0

    Supports rolling over multiple dimensions simultaneously.

    Examples
    --------
    >>> x = np.arange(10)
    >>> np.roll(x, 2)
    array([8, 9, 0, 1, 2, 3, 4, 5, 6, 7])
    >>> np.roll(x, -2)
    array([2, 3, 4, 5, 6, 7, 8, 9, 0, 1])

    >>> x2 = np.reshape(x, (2,5))
    >>> x2
    array([[0, 1, 2, 3, 4],
           [5, 6, 7, 8, 9]])
    >>> np.roll(x2, 1)
    array([[9, 0, 1, 2, 3],
           [4, 5, 6, 7, 8]])
    >>> np.roll(x2, -1)
    array([[1, 2, 3, 4, 5],
           [6, 7, 8, 9, 0]])
    >>> np.roll(x2, 1, axis=0)
    array([[5, 6, 7, 8, 9],
           [0, 1, 2, 3, 4]])
    >>> np.roll(x2, -1, axis=0)
    array([[5, 6, 7, 8, 9],
           [0, 1, 2, 3, 4]])
    >>> np.roll(x2, 1, axis=1)
    array([[4, 0, 1, 2, 3],
           [9, 5, 6, 7, 8]])
    >>> np.roll(x2, -1, axis=1)
    array([[1, 2, 3, 4, 0],
           [6, 7, 8, 9, 5]])

In [96]:
help(pd.DataFrame.apply)

Help on function apply in module pandas.core.frame:

apply(self, func, axis=0, raw=False, result_type=None, args=(), **kwds)
    Apply a function along an axis of the DataFrame.

    Objects passed to the function are Series objects whose index is
    either the DataFrame's index (``axis=0``) or the DataFrame's columns
    (``axis=1``). By default (``result_type=None``), the final return type
    is inferred from the return type of the applied function. Otherwise,
    it depends on the `result_type` argument.

    Parameters
    ----------
    func : function
        Function to apply to each column or row.
    axis : {0 or 'index', 1 or 'columns'}, default 0
        Axis along which the function is applied:

        * 0 or 'index': apply function to each column.
        * 1 or 'columns': apply function to each row.

    raw : bool, default False
        Determines if row or column is passed as a Series or ndarray object:

        * ``False`` : passes each row or column as a Series to the
          function.
        * ``True`` : the passed function will receive ndarray objects
          instead.
          If you are just applying a NumPy reduction function this will
          achieve much better performance.

    result_type : {'expand', 'reduce', 'broadcast', None}, default None
        These only act when ``axis=1`` (columns):

        * 'expand' : list-like results will be turned into columns.
        * 'reduce' : returns a Series if possible rather than expanding
          list-like results. This is the opposite of 'expand'.
        * 'broadcast' : results will be broadcast to the original shape
          of the DataFrame, the original index and columns will be
          retained.

        The default behaviour (None) depends on the return value of the
        applied function: list-like results will be returned as a Series
        of those. However if the apply function returns a Series these
        are expanded to columns.

        .. versionadded:: 0.23.0

    args : tuple
        Positional arguments to pass to `func` in addition to the
        array/series.
    **kwds
        Additional keyword arguments to pass as keywords arguments to
        `func`.

    Returns
    -------
    Series or DataFrame
        Result of applying ``func`` along the given axis of the
        DataFrame.

    See Also
    --------
    DataFrame.applymap: For elementwise operations.
    DataFrame.aggregate: Only perform aggregating type operations.
    DataFrame.transform: Only perform transforming type operations.

    Examples
    --------

    >>> df = pd.DataFrame([[4, 9]] * 3, columns=['A', 'B'])
    >>> df
       A  B
    0  4  9
    1  4  9
    2  4  9

    Using a numpy universal function (in this case the same as
    ``np.sqrt(df)``):

    >>> df.apply(np.sqrt)
         A    B
    0  2.0  3.0
    1  2.0  3.0
    2  2.0  3.0

    Using a reducing function on either axis

    >>> df.apply(np.sum, axis=0)
    A    12
    B    27
    dtype: int64

    >>> df.apply(np.sum, axis=1)
    0    13
    1    13
    2    13
    dtype: int64

    Returning a list-like will result in a Series

    >>> df.apply(lambda x: [1, 2], axis=1)
    0    [1, 2]
    1    [1, 2]
    2    [1, 2]
    dtype: object

    Passing result_type='expand' will expand list-like results
    to columns of a Dataframe

    >>> df.apply(lambda x: [1, 2], axis=1, result_type='expand')
       0  1
    0  1  2
    1  1  2
    2  1  2

    Returning a Series inside the function is similar to passing
    ``result_type='expand'``. The resulting column names
    will be the Series index.

    >>> df.apply(lambda x: pd.Series([1, 2], index=['foo', 'bar']), axis=1)
       foo  bar
    0    1    2
    1    1    2
    2    1    2

    Passing ``result_type='broadcast'`` will ensure the same shape
    result, whether list-like or scalar is returned by the function,
    and broadcast it along the axis. The resulting column names will
    be the originals.

    >>> df.apply(lambda x: [1, 2], axis=1, result_type='broadcast')
       A  B
    0  1  2
    1  1  2
    2  1  2

In [97]:
b

   x  y
0  2  5
1  5  6
2  7  3

In [98]:
b.reindex([1,0,2])

   x  y
1  5  6
0  2  5
2  7  3